/* Header background */
.header-bg {
    background-color: #dc8451;
  }
  
  /* Question title color */
  .question-title {
    color: #FFA500;
  }
  
  /* Answer background */
  .answer-bg {
    background-color: #FFD100;
  }
  